
    .head{
    width: 100%;
    height: 250px;
    background-color: black;
    align-content: center;
    color: white;
    display: flex;
    flex-direction: row;
    text-align: center;
}
img{
    width: 150px;
    height: 150px;
    margin-left: 10%;
    margin: 10px;
}
.content{
    margin: 50px;
    word-spacing: 10px;
}
.body{
    background-image:  url(alexandr-podvalny-bh476ojZw2g-unsplash.jpg);
    background-size: cover;
    background-position: center;
    width: 100%;
    padding: 20px 40px;
    align-items: center;
    justify-content: center;
    height:100% ;
    
}
